{% extends "base.html" %}

{% load i18n %}

{% block title %}Contact{% endblock title %}

{% block content %}
  <div class="row mt-4">
    <div class="col-12">
      <h6 class="fw-bold">Contact</h6>
      <p>Comments, questions, suggestions?</p>
      <p>
        Be welcome to open an issue on the
        <a href="https://github.com/linea-it/cutout" target="_blank" rel="noreferrer">Cutout Service's repository</a>
        on GitHub or contact our team.
      </p>
      <p>
        Technical support:
        <a href="mailto:helpdesk@linea.org.br" target="_blank" rel="noreferrer">helpdesk@linea.org.br</a>
      </p>
    </div>
  </div>
{% endblock content %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock footer %}
