{% extends "djangosaml2/base_error.html" %}

{% block title %}Login Error{% endblock title %}

{% block content %}
<p class="text" style="margin-top: 0;">
    To utilize LIneA resources, all users are required to have a registered account. If you are a new
    user, please <a href="{{ settings.LINEA_REGISTER_URL }}">register here</a>.
</p>
<p class="text" style="margin-top: 0;">
    All new registrations are subject to an approval process which takes place during business hours and
    may require up to one business day.
</p>
{% endblock content %}
